<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin id="fairmanager-cordova-plugin-clipboard" version="1.0.3"
	xmlns="http://apache.org/cordova/ns/plugins/1.0">

	<name>Clipboard Plugin</name>
	<description>Clipboard management plugin for Cordova/PhoneGap</description>
	<license>MIT</license>
	<author>Verso Solutions LLC</author>
	<keywords>clipboard,copy,paste</keywords>

	<repo>https://github.com/fairmanager-cordova/plugin-clipboard</repo>
	<issue>https://github.com/fairmanager-cordova/plugin-clipboard/issues</issue>

	<engines>
		<engine name="cordova" version=">=8.0.0"/>
		<engine name="cordova-android" version=">=7.1.1"/>
		<engine name="cordova-ios" version=">=4.5.5"/>
		<engine name="cordova-windows" version=">=6.0.0"/>
	</engines>

	<js-module src="www/clipboard.js" name="Clipboard">
		<clobbers target="cordova.plugins.Clipboard" />
	</js-module>

	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="Clipboard">
				<param name="android-package" value="eu.fairmanager.plugins.Clipboard" />
			</feature>
		</config-file>

		<source-file src="src/android/eu/fairmanager/plugins/clipboard/Clipboard.java" target-dir="src/eu/fairmanager/plugins/clipboard/" />
	</platform>

	<platform name="ios">
		<config-file target="config.xml" parent="/*">
			<feature name="Clipboard">
				<param name="ios-package" value="CDVClipboard" />
			</feature>
		</config-file>

		<header-file src="src/ios/CDVClipboard.h" />
		<source-file src="src/ios/CDVClipboard.m" />
	</platform>

	<platform name="windows">
		<js-module src="src/windows/ClipboardProxy.js" name="ClipboardProxy">
			<merges target="" />
		</js-module>
	</platform>
</plugin>
